{% extends "layout.html" %}
{% block content %}

<section class="section">
    <div class="container">
        <h1 class="title is-1">Admin</h1>
        <p class="subtitle">
            For me :)
        </p>
    </div>

</section>

<section class="section">
    <nav class="level">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">User count</p>
                <p class="title">{{ users.__len__() }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Secret count</p>
                <p class="title">{{ info["secret_count"] }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Repository count</p>
                <p class="title">{{ info["repo_count"] }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Latest ID</p>
                <p class="title">{{ info["latest_id"] }}</p>
            </div>
        </div>
    </nav>
</section>

<section class="section">
    <div class="container">
        <h2 class="title">Users</h2>
        <p class="subtitle">
            Here are the users that have registered.
        </p>

        <form action="/secrets/admin" method="post">
            <div class="field">
                <label class="label">Username</label>
                <div class="control">
                    <input class="input" type="text" name="username" placeholder="Username" value="{{ search if search else '' }}">
                </div>
            </div>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" name="search" value="1">
            <div class="field">
                <div class="control">
                    <button class="button is-info">Search</button>
                </div>
            </div>
        </form>

        <br>

        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Api key uses left</th>
                    <th>Is deleted</th>
                    <td>Is Admin</td>
                    <td>Last IP</td>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user["id"] }}</td>
                        <td>{{ user["login"] }}</td>
                        <td>{{ user["email"] }}</td>
                        <td class="is-hidden">{{ user["api_key"] }}</td>

                        <td>{{ user["api_key_uses_left"] }}</td>
                        <td>{{ user["is_deleted"] }}</td>
                        <td>{{ user["is_admin"] }}</td>
                        <td>{{ user["last_ip"] }}</td>
                        <td>
                            <button class="js-modal-trigger button is-primary" data-target="modal-js">
                                Edit
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="container">
            <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                <a class="pagination-previous">Previous</a>
                <a class="pagination-next">Next page</a>

                <ul class="pagination-list">
                    <li><a class="pagination-link" aria-label="Goto page {{ page + 5 if page + 5 < page_end else page_end }}">{{ page - 5 if page - 5 > 0 else 0 }}</a></li>
                    <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">{{ page }}</a></li>
                    <li><a class="pagination-link" aria-label="Goto page {{ page + 5 if page + 5 < page_end else page_end }}">{{ page + 5 if page + 5 < page_end else page_end }}</a></li>
                </ul>
            </nav>
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const $paginationPrevious = document.querySelector('.pagination-previous');
                const $paginationNext = document.querySelector('.pagination-next');

                $paginationPrevious.addEventListener('click', () => {
                    $.ajax({
                        url: '/secrets/admin',
                        type: 'post',
                        data: {
                            page: '{{ page - 1 }}',
                            username: '{{ search }}',
                            csrf_token: '{{ csrf_token() }}'
                        },
                    });
                });

                $paginationNext.addEventListener('click', () => {
                    $.ajax({
                        url: '/secrets/admin',
                        type: 'post',
                        data: {
                            page: '{{ page + 1 }}',
                            username: '{{ search }}',
                            csrf_token: '{{ csrf_token() }}'
                        },
                    });
                });
            });
        </script>
    </div>
</section>

<section class="section">
    <div class="container">
        <h2 class="title">Danger</h2>
        <p class="subtitle">
            Be careful please :)
        </p>

        <div class="container">
            <form action="/secrets/admin" method="post">
                <input type="hidden" name="delete_all_users" value="1">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button class="button is-danger">Delete all users</button>
            </form>
    
            <form action="/secrets/admin" method="post">
                <input type="hidden" name="delete_all_secrets" value="1">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button class="button is-danger">Delete all secrets</button>
            </form>
        </div>
    </div>
</section>

<div class="modal" id="modal-js">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
        <p class="modal-card-title">Edit user</p>
        <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <form action="/secrets/admin" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="update_user" value="1"> <!-- user id is set here -->
                <div class="field">
                    <label class="label">Username</label>
                    <div class="control">
                        <input class="input" type="text" name="username" placeholder="Username" value="">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                        <input class="input" type="text" name="email" placeholder="Email" value="">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Api key</label>
                    <div class="control">
                        <input class="input" type="text" name="api_key" placeholder="Api key" value="">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Api key uses left</label>
                    <div class="control">
                        <input class="input" type="text" name="api_key_uses_left" placeholder="Api key uses left" value="">
                    </div>
                </div>
                <div class="is-flex is-flex-direction-row">
                    <div class="field">
                        <label class="label">Is Deleted</label>
                        <div class="control">
                            <!-- select from dropdown -->
                            <div class="select">
                                <select name="is_deleted">
                                    <option value="False">False</option>
                                    <option value="True">True</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Is Admin</label>
                        <div class="control">
                            <div class="select">
                                <select name="is_admin">
                                    <option value="False">False</option>
                                    <option value="True">True</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="field">
                    <div class="control">
                        <button class="button is-info">Update</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        function openModal($el) {
            $el.classList.add('is-active');
        }

        function closeModal($el) {
            $el.classList.remove('is-active');
        }

        function closeAllModals() {
            (document.querySelectorAll('.modal') || []).forEach(($modal) => {
                closeModal($modal);
            });
        }

        (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
            const modal = $trigger.dataset.target;
            const $target = document.getElementById(modal);

            $trigger.addEventListener('click', () => {
                openModal($target);
                // set the user stuff in the form
                
                $target.querySelector('input[name="username"]').value = $trigger.closest('tr').querySelector('td:nth-child(2)').textContent;
                $target.querySelector('input[name="email"]').value = $trigger.closest('tr').querySelector('td:nth-child(3)').textContent;
                $target.querySelector('input[name="api_key"]').value = $trigger.closest('tr').querySelector('td:nth-child(4)').textContent;
                $target.querySelector('input[name="api_key_uses_left"]').value = $trigger.closest('tr').querySelector('td:nth-child(5)').textContent;
                $target.querySelector('select[name="is_deleted"]').value = $trigger.closest('tr').querySelector('td:nth-child(6)').textContent;
                $target.querySelector('select[name="is_admin"]').value = $trigger.closest('tr').querySelector('td:nth-child(7)').textContent;

                // set the user id in the form
                $target.querySelector('input[name="update_user"]').value = $trigger.closest('tr').querySelector('td:nth-child(1)').textContent;
            });
        });

        (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
            const $target = $close.closest('.modal');

            $close.addEventListener('click', () => {
                closeModal($target);
            });
        });

        document.addEventListener('keydown', (event) => {
            if(event.key === "Escape") {
                closeAllModals();
            }
        });
    });
</script>

{% endblock content %}