{% extends "layout.html" %}
{% block content %}

{% if not secrets %}

<section class="section">
    <div class="container">
        <h1 class="title is-1">Search</h1>
        <p class="subtitle">
            Search for secrets in the database.
        </p>

        <form action="/secrets/search" method="post">
            <div class="field">
                <label class="label">URL</label>
                <div class="control">
                    <input class="input" type="text" name="url" placeholder="https://github.com/username/repository" value="{{ url }}">
                </div>
            </div>
            <div class="field">
                <label class="label">Commit</label>
                <div class="control">
                    <input class="input" type="text" name="commit" placeholder="fab4cfc793ec208162bbb33a2402c62d65a0e755" value="{{ commit }}">
                </div>
            </div>
            <div class="field">
                <label class="label">Path</label>
                <div class="control">
                    <input class="input" type="text" name="path" placeholder="app/controllers/application.rb" value="{{ path }}">
                </div>
            </div>
            <div class="field">
                <label class="label">Secret</label>
                <div class="control">
                    <input class="input" type="text" name="secret" placeholder="password" value="{{ secret }}">
                </div>
            </div>
            <div class="field">
                <label class="label">Match</label>
                <div class="control">
                    <input class="input" type="text" name="match" placeholder="secret => 'test" value="{{ match }}">
                </div>
            </div>
            <div class="field">
                <label class="label">Rule ID</label>
                <div class="control">
                    <input class="input" type="text" name="rule_id" placeholder="generic-api-key" value="{{ rule_id }}">
                </div>
            </div>
            <div class="field">
                <label class="label">Owner</label>
                <div class="control">
                    <input class="input" type="text" name="type" placeholder="0xleft" value="{{ owner }}">
                </div>
            </div>
            <div class="field">
                <label class="label">Date</label>
                <div class="control">
                    <input class="input" type="text" name="date" placeholder="2020-01-01" value="{{ date }}">
                </div>
            </div>
            <div class="field">
                <label class="label">Page</label>
                <div class="control">
                    <input class="input" type="text" name="page" placeholder="1" value="{{ page }}">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-info">Search</button>
                </div>
            </div>
            <input type="hidden" name="search" value="1">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        </form>
    </div>
</section>

{% else %}


<section class="section">

    {% if result_count > 0 %}

    <div class="container">
        <h2 class="title">Results</h2>
        <p class="subtitle">
            {% if session["logged_in"] %}
            There ya go.
            {% else %}
            You are not logged in. Results have been redacted.
            {% endif %}
        </p>

        {% if error %}
            <div class="notification is-danger">
                {{ error }}
            </div>
        {% endif %}

        <table class="table is-narrow is-hoverable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>URL</th>
                    <th>Commit</th>
                    <th>Path</th>
                    <th>Secret</th>
                    <th>Match</th>
                    <th>Rule ID</th>
                    <th>Owner</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for (i, secret) in secrets %}
                <tr>
                    <td>{{ i + (page - 1) * PER_PAGE_COUNT }}</td>
                    <td>{{ secret.url if session["logged_in"] else secret.url[:19] + "redacted" }}</td>
                    <td>{{ secret.commit if session["logged_in"] else secret.commit[:10] + "..." }}</td>
                    <td>{{ secret.path if session["logged_in"] else secret.path[:10] }}</td>
                    <td>{{ secret.secret if session["logged_in"] else "redacted" }}</td>
                    <td>{{ secret.match if session["logged_in"] else "redacted" }}</td>
                    <td>{{ secret.rule_id if session["logged_in"] else secret.rule_id[:19] }}</td>
                    <td>{{ secret.owner if session["logged_in"] else "redacted" }}</td>
                    <td>{{ secret.date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% else %}

    <section class="section">
        <div class="container">
            <h2 class="title">Results</h2>
            <p class="subtitle">
                No results found.
            </p>
        </div>
    </section>

    {% endif %}

    <div class="container">
        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            <ul class="pagination-list">
                <form action="/secrets/search" method="post">
                    <input type="hidden" name="url" value="{{ url }}">
                    <input type="hidden" name="commit" value="{{ commit }}">
                    <input type="hidden" name="path" value="{{ path }}">
                    <input type="hidden" name="secret" value="{{ secret }}">
                    <input type="hidden" name="match" value="{{ match }}">
                    <input type="hidden" name="rule_id" value="{{ rule_id }}">
                    <input type="hidden" name="owner" value="{{ owner }}">
                    <input type="hidden" name="date" value="{{ date }}">
                    <input type="hidden" name="page" value="{{ page - 1 }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <a class="pagination-previous" onclick="this.parentNode.submit()">Previous</a>
                </form>
                <li><a class="pagination-link is-current" aria-label="Page {{ page }}" aria-current="page">{{ page }}</a></li>
                <form action="/secrets/search" method="post">
                    <input type="hidden" name="url" value="{{ url }}">
                    <input type="hidden" name="commit" value="{{ commit }}">
                    <input type="hidden" name="path" value="{{ path }}">
                    <input type="hidden" name="secret" value="{{ secret }}">
                    <input type="hidden" name="match" value="{{ match }}">
                    <input type="hidden" name="rule_id" value="{{ rule_id }}">
                    <input type="hidden" name="owner" value="{{ owner }}">
                    <input type="hidden" name="date" value="{{ date }}">
                    <input type="hidden" name="page" value="{{ page + 1 }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <a class="pagination-next" onclick="this.parentNode.submit()">Next</a>
                </form>
            </ul>
        </nav>
    </div>
</section>

{% endif %}

{% endblock content %}